#content {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #1139a8;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #686796;
  }
  
  body {
    background-image: url('125.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  